* {
	font-family: 'Open Sans', sans-serif;
}

/* Navbar */
.navbar img {
	width: 150px;
}

.navbar {
	background-color: #50B1AE;
	padding: 10px;

}

.navbar-nav .nav-link {
	color: white !important;
	font-size: 15px;
	font-weight: 600;
	margin-left: 50px;
}

.tombol {
	border-radius: 5px;
	width: 100px;
	background-color: white;
	color: #50B1AE;
	border-color: white;
	font-weight: 600 !important;
	margin-left: 50px;
}

.tombol:hover {
	background-color: #f2f2f2;
	border-color: #f2f2f2;
	color: #50B1AE;
}

.kotak {
	background-color: #50B1AE;
	height: 150px;

}

.card {
	margin: auto;
	margin-top: -120px;
	width: 50%;
	border-radius: 5px;
	background-color: white;
	-webkit-box-shadow: 0px 11px 20px -8px rgba(0, 0, 0, 0.43);
	-moz-box-shadow: 0px 11px 20px -8px rgba(0, 0, 0, 0.43);
	box-shadow: 0px 11px 20px -8px rgba(0, 0, 0, 0.43);
}

.card-title {
	text-align: center;
	color: #4c4c4c;
	margin-bottom: 30px;
}

.form-group {
	margin: auto;
	margin-bottom: 20px;
	width: 80%;
}

.btn-daftar {
	margin-left: 42%;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 145px;
	color: white;
	background-color: #50B1AE;
	font-size: 18px;
}

.relawan {
	margin: auto;
	margin-top: -120px;
	margin-bottom: 30px;
	width: 100%;
	border-radius: 5px;
	background-color: white;
	-webkit-box-shadow: 0px 11px 20px -8px rgba(0, 0, 0, 0.43);
	-moz-box-shadow: 0px 11px 20px -8px rgba(0, 0, 0, 0.43);
	box-shadow: 0px 11px 20px -8px rgba(0, 0, 0, 0.43);
}

.custom-select {
	width: 100px;
}



.card-header {
	font-size: 15px;
	background-color: white;
}

.title {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px;
	font-size: 20px;
	font-weight: 600;
}

.subtitle {
	font-weight: 600;
	margin-bottom: 30px;
}
