* {
	font-family: 'Open Sans', sans-serif;
}

/* Navbar */
.navbar-brand {
	padding: 20px 0;
}

.tombol {
	border-radius: 5px;
}

/* Jumbotron */
.jumbotron {
	background-image: url(../img/bg-01.png);
	background-size: cover;
	height: 680px;
	background-position: center;
}

.jumbotron .display-4 {
	color: #4C4C4C;
	font-size: 40px;
	font-weight: bolder;
	margin-top: 100px;
}

.jumbotron p {
	margin-top: 50px;
	font-size: 18px;
	color: #4C4C4C;
	margin-bottom: 30px;
	margin-left: 120px;
}

.tombol1 {
	background-color: #50B1AE;
	color: white;
	margin-top: 20px;
	border-radius: 45px;
	width: 180px;
	padding: 10px;
	border: none !important;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

.tombol1:hover {
	background-color: #3C8E8A;
	color: white;
	transform: translateY(-7px);
}

/* Programs */
.programs {
	background-image: url(../img/bg-programs.png);
	background-size: cover;
	background-position: center;
	margin-top: -35px;
}

.programs-text {
	text-align: center;
	margin: 50px auto;
	font-size: 28px;
	font-weight: bold;
	color: #4C4C4C;
}

.programs-text::after {
	content: '';
	display: block;
	border-bottom: 3px solid #4C4C4C;
	width: 20%;
	margin: auto;
}

.card {
	margin: auto;
	border-radius: 10px;
}

.card-img-top {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.card .card-text {
	font-size: 14px;
	margin: 25px 0;
}


.card .card-title {
	font-size: 18px;
	font-weight: 600;
}

.card-button {
	padding: 13px;
	width: 100%;
	background-color: #E38813;
	border-color: #E38813;
	color: white;
}

.card-button:hover {
	background-color: rgb(206, 124, 17);
	border-color: rgb(206, 124, 17);
	color: white;
}

.more {
	background-color: #E38813;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 160px;
	padding: 10px;
	border-radius: 100px;
	color: white;
	border: none !important;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

.more:hover {
	background-color: rgb(206, 124, 17);
	border-color: rgb(206, 124, 17);
	color: white;
	transform: translateY(-7px);
}

/* Feature */
.feature {
	background-color: rgb(248, 248, 248);
}

.carousel {
	margin-left: 120px;
	margin-bottom: 100px;
	margin-top: 100px;
}

.feature-text {
	margin-top: 160px;
	margin-left: -190px;
	font-size: 28px;
	font-weight: 600;
}

.feature-p {
	margin-top: 30px;
	margin-left: -190px;
	font-size: 17px;
	margin-right: 100px;
}

.ayo-donasi {
	margin-left: -190px;
	background-color: #E38813;
	margin-top: 20px;
	margin-bottom: 50px;
	width: 160px;
	padding: 10px;
	border-radius: 100px;
	color: white;
	border: none !important;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

.ayo-donasi:hover {
	background-color: rgb(206, 124, 17);
	border-color: rgb(206, 124, 17);
	color: white;
	transform: translateY(-7px);
}

/* Contact  */
.contact {
	background-color: #50B1AE;
	height: 400px;
}

.contact h3 {
	text-align: center;
	margin: auto;
	margin-top: 90px;
	font-weight: 700;
	font-size: 28px;
	color: white;

}

.contact p {
	margin-top: 20px;
	color: white;
	font-size: 17px;
	text-align: center;
	margin-bottom: 50px;
}

.cs {
	align-content: center;
	width: 240px;
	height: 50px;
	text-align: center;
	background-color: rgb(216, 25, 88);
	color: white;
	font-size: 18px;
	border-color: none !important;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

.cs:hover {
	background-color: rgb(167, 20, 69);
	color: white;
	transform: translateY(-7px);
}

.email {
	margin-left: 20px;
	width: 240px;
	height: 50px;
	text-align: center;
	background-color: rgb(216, 25, 88);
	color: white;
	font-size: 18px;
	border-color: none !important;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

.email:hover {
	background-color: rgb(167, 20, 69);
	color: white;
	transform: translateY(-7px);
}

/* Footer */
.mb-0 {
	color: white;
	font-size: 18px;
}

.social {
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;

}

.foot {
	background-color: rgb(35, 78, 77);
}

.mt-5 {
	color: white;
}

.foot a {
	color: white;
}

.foot p {
	font-size: 15px;
}

.py-3 {
	color: white;
}


/*Halaman Login */

.main {
	background-image: url(../img/bg-login-01.png);
	background-size: cover;
	height: 800px;
	margin-top: -110px;
}

.header-no-option {
	padding: 20px;
	background-color: transparent;
}

.site-logo img {
	width: 150px;
	position: relative;
}

.box-login {
	border-radius: 5px;
	margin-right: 200px;
	margin-top: 150px;
	width: 450px;
	height: 500px;
	background-color: white;
	-webkit-box-shadow: 0px 11px 20px -8px rgba(0, 0, 0, 0.43);
	-moz-box-shadow: 0px 11px 20px -8px rgba(0, 0, 0, 0.43);
	box-shadow: 0px 11px 20px -8px rgba(0, 0, 0, 0.43);

}

.box-login h5 {
	font-size: 22px;
	text-align: center;
	margin-top: 50px;
}

.box-login span {
	color: #4D9D99;
}

.hello h2 {
	margin-top: 70px;
	color: #4D9D99;
	margin-right: -250px;


}

.tabel-login {
	margin-top: 70px;
}

.form-group {
	width: 85%;
	margin: auto;
	margin-top: 40px;
	font-size: 18px;
}

.btn-login {
	margin-top: 60px;
	margin-left: 150px;
	width: 145px;
	color: white;
	background-color: #50B1AE;
	font-size: 19px;

}

.form-group small a {
	float: right;
	margin-top: 10px;
	color: #3C8E8A;
	font-size: 14px;
}

.buat-akun {
	margin-top: 11px;
	color: #3C8E8A;
	font-weight: 600;
}

.buat-akun:hover {
	color: #3C8E8A;
	text-decoration: none;
}

.form-control {
	border-radius: 8px;
	height: 45px;
}


/* Dekstop Version */
@media (min-width: 992px) {

	.navbar-nav {
		margin-left: 360px;
	}

	.navbar-brand {
		margin-left: 90px;
	}


	.navbar {
		position: fixed;
		transition: .3s;
		width: 100%;
		background-color: transparent !important;
		z-index: 1;
	}

	.navbar.scrolled {
		background-color: white !important;
		color: #50B1AE;
		box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
	}

	.nav-link {
		color: #50B1AE !important;
		font-weight: 600 !important;
	}

	.nav-link.scrolled {
		color: #50B1AE !important;
		font-weight: 600 !important;
	}

	.nav-link span {
		color: white !important;
		font-weight: 600 !important;
	}

	.nav-link span.scrolled {
		color: #50B1AE !important;
		font-weight: 600 !important;
	}

	.tombol {
		width: 100px;
		background-color: white;
		color: #50B1AE;
		border-color: white;
		font-weight: 600 !important;
	}

	.tombol.scrolled {
		width: 100px;
		background-color: #50B1AE;
		color: white;
		border-color: white;
		font-weight: 600 !important;
	}

	.tombol:hover {
		background-color: #f2f2f2;
		border-color: #f2f2f2;
		color: #50B1AE;
	}

	.nav-link {
		font-size: 17px;
		margin-right: 60px;
		font-weight: 500;
	}

	.nav-link:hover::after {
		content: '';
		display: block;
		border-bottom: 3px solid #50B1AE;
		width: 50%;
		margin: auto;
		padding: 3px;
		margin-bottom: -11px;
	}

	.nav-link span:hover::after {
		content: '';
		display: block;
		border-bottom: 5px solid white;
		width: 50%;
		margin: auto;
		padding: 3px;
		margin-bottom: -11px;
	}

	.jumbotron .display-4 {
		font-size: 52px;
		margin-left: 120px;
	}

	.tombol1 {
		margin-left: 120px;
		margin-right: -90px;
	}

	.card {
		margin: auto;
		width: 18rem !important;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

	}

	.card:hover {
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	}

	.carousel {
		width: 65%;
	}


}

/* Mobile */
@media (max-width: 576px) {

	.navbar-nav .nav-link {
		text-align: center;
	}

	.navbar {
		width: 100%;
		position: fixed;
		background-color: white !important;
		box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
		z-index: 1;
	}

	.navbar img {
		margin-left: 150px;
	}

	.jumbotron .display-4 {
		text-align: center;
		margin-top: 120px;
		font-size: 35px;
	}

	.jumbotron p {
		margin-top: 30px;
		margin-bottom: 40px;
		font-size: 15px;
		text-align: center;
		margin-left: 30px;
		margin-right: 30px;
	}

	.tombol1 {
		margin-left: 35px;
		width: 160px;

	}

	.tombol {
		background-color: #50B1AE;
		color: white;
		border-color: #50B1AE;
	}

	.tombol:hover {
		background-color: #3C8E8A;
		border-color: #3C8E8A;
		color: white;
	}


	.card {
		margin: 10px auto;
		width: 20rem !important;
		margin-bottom: 50px;

	}

	.more {
		margin: 0 32%;
		margin-bottom: 50px;
	}

	.carousel {
		margin: auto;
		margin-top: 50px;
		width: 90%;
	}

	.feature-text {
		margin: auto;
		margin-top: 20px;
		text-align: center;
	}

	.feature-p {
		margin: 20px 20px;
		text-align: center;
		margin-top: 20px;
		font-size: 16px;
		margin-bottom: 50px;

	}

	.ayo-donasi {
		margin: auto;
		margin-bottom: 40px;
		align-content: center;
		margin-left: 29%;
	}

	.box-login {
		margin: auto;
		margin-top: 140px;
		margin-right: 16px;
	}


}

/* Tablets etc */
@media (max-width: 992px) {
	.navbar {
		width: 100%;
		position: fixed;
		background-color: white !important;
		box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
		z-index: 1;
	}

	.navbar-nav .nav-link {
		text-align: center;
	}

}
